<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error {color:red}
    </style>
</head>
<body>
<i>Fill out the form. Asterisk(*) means required</i>
<br><br>
<form th:action="@{/processForm}" method="post" th:object="${customer}">
    First name: <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last name (*): <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"/>
    <br><br>
    Free passes: <input type="text" th:field="*{freePasses}"/>
    <span th:if="${#fields.hasErrors('freePasses')}"
          th:errors="*{freePasses}"
          class="error"/>
    <br><br>
    Postal code: <input type="text" th:field="*{postalCode}"/>
    <span th:if="${#fields.hasErrors('postalCode')}"
          th:errors="*{postalCode}"
          class="error"/>
    <br><br>
    Course code: <input type="text" th:field="*{courseCode}"/>
    <span th:if="${#fields.hasErrors('courseCode')}"
          th:errors="*{courseCode}"
          class="error"/>
    <br><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>